utils/__pycache__/*

compressed_Lxx
full_path.json

clip_features_Lxx
full_faiss.bin
clip_features_Lxx_v2
full_faiss_v2.bin

detection_Lxx
dataframe_Lxx.csv

submission
submission.zip

.ipynb_checkpoints
.vscode
scienceaio_photos

keydata